body {
    margin:0;
    padding: 0;
    background-color: #121212; color: white;

}

.navbar {
    background-color: antiquewhite;
}

.navbar-brand {
    padding-left: 150px;
}

.right-nav {
    padding-left: 400px;
}