body {
    margin:0;
    padding: 0;

}

.navbar {
    background-color: antiquewhite;
}

.navbar-brand {
    padding-left: 150px;
}

.right-nav {
    padding-left: 400px;
}

.intro {
    color: white;
}

#focus-text {
    color: blueviolet;
    font-size: 25px;
}

.intro {
    font-size: 18px;
}

#focus-bold {
    font-weight: bold;
}

#anecdotes {
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(201, 76, 76, 0.6);
}

.h3-style {
    font-size: 20px;
    color: rgb(0, 0, 0);
}