body {
    margin:0;
    padding: 0;
}

.navbar {
    background-color: antiquewhite;
}

.navbar-brand {
    padding-left: 150px;
}

.right-nav {
    padding-left: 400px;
}

.intro {
    color: white;
}
